.board {
  position: relative;
  z-index: 10;
  background: $light-color;
  padding: 0.125rem;
  border-radius: 0.1875rem;
  display: flex;
  transition: transform .8s ease-in-out;
  &__field {
    height: 1.1875rem;
    width: 1.1875rem;
    background: $light-color;
    border: 0.0625rem $border-color solid;
    border-radius: 0.1875rem;
    text-align: center;
    font-weight: 600;
    box-shadow: -0.0625rem -0.0625rem 0.25rem #f4f4f4;
    &--bombed {
      color: $bomb-color;
      border: none;
    }
    &--reveal {
      border: 0.0625rem solid $light-color;
      box-shadow: inset 0.3125rem 0.3125rem 0.375rem #e4d6c4,
      inset -0.3125rem -0.3125rem 0.375rem #ffffea;
    }
    &--adj {
      border: none;
      box-shadow: inset 0.3125rem 0.3125rem 0.375rem #e4d6c4,
      inset -0.3125rem -0.3125rem 0.375rem #ffffea;
    }
    &--color {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 1.0625rem;
        width: 1.0625rem;
        border-radius: 0.1875rem;
        opacity: .69;
      }
    }
    @each $color in $bomb-nums {
      $i: index($bomb-nums, $color);
      &--b#{$i}::before {
        background: $color;
      }
    }
  }
  &__symbol {
    color: inherit;
    @each $color in $bomb-nums {
      $i: index($bomb-nums, $color);
      &--n#{$i} {
        color: $color;
      }
    }
  }
}

@each $color in $bomb-nums {
  $i: index($bomb-nums, $color);
  .board__symbol--n#{$i} {
    color: $color;
  }
}