.board {
  position: relative;
  z-index: 10;
  background: $light-color;
  padding: 2px;
  border-radius: 3px;
  display: flex;
  &__field {
    height: 19px;
    width: 19px;
    background: $light-color;
    border: 1px $border-color solid;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    box-shadow: -1px -1px 4px #f4f4f4;
    &--bombed {
      color: $bomb-color;
      border: none;
    }
    &--reveal {
      border: 1px solid $light-color;
      box-shadow: inset 5px 5px 6px #e4d6c4,
      inset -5px -5px 6px #ffffea;
    }
    &--adj {
      border: none;
      box-shadow: inset 5px 5px 6px #e4d6c4,
      inset -5px -5px 6px #ffffea;
    }
    &--color {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 17px;
        width: 17px;
        border-radius: 3px;
        opacity: .69;
      }
    }
    @each $color in $bomb-nums {
      $i: index($bomb-nums, $color);
      &--b#{$i}::before {
        background: $color;
      }
    }
  }
  &__symbol {
    color: inherit;
    @each $color in $bomb-nums {
      $i: index($bomb-nums, $color);
      &--n#{$i} {
        color: $color;
      }
    }
  }
}

@each $color in $bomb-nums {
  $i: index($bomb-nums, $color);
  .board__symbol--n#{$i} {
    color: $color;
  }
}