.board {
  z-index: 10;
  background: $light-color;
  padding: 2px;
  border-radius: 3px;
  display: flex;
  &__field {
    height: 19px;
    width: 19px;
    background: $light-color;
    border: 1px #ADA28C solid;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    box-shadow: -1px -1px 4px #f4f4f4;
    &--bombed {
      color: $bomb-color;
      border: none;
    }
    &--reveal {
      border-radius: 3px;
      border: none;
      background: $light-color;
      box-shadow: inset 5px 5px 6px #e4d6c4,
      inset -5px -5px 6px #ffffea;
    }
    &--adj {
      border: none;
      box-shadow: inset 5px 5px 6px #e4d6c4,
      inset -5px -5px 6px #ffffea;
    }
  }
  &__symbol {
    user-select: none;
    color: inherit;
  }
}

@each $color in $bomb-nums {
  $i: index($bomb-nums, $color);
  .board__symbol--n#{$i} {
    color: $color;
  }
}