.scoreboard {
  &__text {
    color: $light-color;
  }
  &__header {
    font-size: 2.5rem;
  }
  &__line {
    width: 11rem;
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    width: 26rem;
  }
  &__selector {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: $light-color;
    width: 33%;
  }
  &__lead {
    font-size: 1.25rem;
  }
  &__option {
    padding-top: .125rem;
    font-size: 1.125rem;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6rem;
  }
  &__button {
    position: relative;
    height: .75rem;
    width: .75rem;
    background: $light-color;
    border-radius: 50%;
    &:active {
      transform: scale(.9);
    }
    &::after {
      position: absolute;
      content: '';
      top: .125rem;
      border: .25rem solid transparent;
    }
    &--left::after {
      border-right-color: $text-color;
      border-right-width: .375rem;
      left:-.125rem;
    }
    &--right::after {
      border-left-color: $text-color;
      border-left-width: .375rem;
      right: -.125rem;
    }
  }
  &__table {
    margin: 1rem 0;
    width: 26rem;
  }
  &__row {
    &--head {
      padding-bottom: 1rem;
    }
  }
  &__cell {
    width: 33%;
    font-size: 1.5rem;
    text-align: center;
    padding: .125rem 0;
    color: $light-color;
    &--head {
      font-size: 2rem;
    }
  }
}