.start {
  &__logo {
    position: relative;
    color: $light-color;
    font-family: $brush;
    font-size: 4rem;
    transform: rotate(-3deg);
    &--span {
      top: -0.0625rem;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
  }
  &__option {
    color: $light-color;
    text-align: center;
    width: 100%;
    padding: 0 .2rem;
    cursor: pointer;
    &:hover {
      color: $text-color;
      background: $light-color;
    }
  }
}