.background {
  position: absolute;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  &__top {
    height: 77%;
    border-bottom: $text-color 0.125rem solid;
    background-color: $text-color;
    background-image:
            repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 0.0625rem, transparent 0.0625rem, transparent 3.75rem),
            repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 0.0625rem, transparent 0.0625rem, transparent 3.75rem),
            linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
            linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 4.375rem 7.5rem;
    background-position: bottom;
  }
  &__bottom {
    height: 23%;
    background: $panel-color linear-gradient(180deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%);
    background-size: 0.125rem 0.125rem;

  }
}