.controls {
  position: relative;
  width: 600px;
  height: 200px;
  perspective: 300px;
  //border: 1px solid #666;
  &__insert {
    display: flex;
    justify-content: space-between;
    position: absolute;
    content: '';
    width: 626px;
    height: 180px;
    top: 9px;
    left: -13px;
    transform-style: preserve-3d;
    transform: rotateX(19deg);
    background: $banner-lite-color;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

  }
  &__side {
    width: 15px;
    height: 100%;
    background: $panel-color;
    border-top: 2px solid $panel-darkest-color;
    //border-bottom: 2px solid $panel-darkest-color;
    border-left: 2px solid $panel-darkest-color;
    border-right: 2px solid $panel-darkest-color;
    &--left {
      border-left-width: 3px;
      border-bottom-left-radius: 2px;
    }
    &--right {
      border-right-width: 3px;
      border-bottom-right-radius: 2px;
    }
  }
  &__center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid $panel-darkest-color;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__decor {
    height: 50px;
    width: 100%;
    background: orange;
    border-top: 2px solid $panel-darkest-color;

  }
}