.head {
  position: relative;
  width: 37.5rem;
  height: 37.5rem;
  perspective: 18.75rem;
  &__insert {
    z-index: -10;
    position: absolute;
    content: '';
    top: 2.5rem;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 37.5rem;
    height: 37.5rem;
    background: $panel-dark-color;
    transform-style: preserve-3d;
    transform: rotateX(-3deg);
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
  }
  &__side {
    width: 0.9375rem;
    height: 100%;
    background: $panel-color;
    border-top: 0.25rem solid $panel-darkest-color;
    border-bottom: 0.125rem solid $panel-darkest-color;
    border-left: 0.125rem solid $panel-darkest-color;
    border-right: 0.125rem solid $panel-darkest-color;
    &--left {
      border-top-left-radius: 1.25rem;
      border-left-width: 0.1875rem;
    }
    &--right {
      border-top-right-radius: 1.25rem;
      border-right-width: 0.1875rem;
    }
  }
  &__center {
    z-index: -10;
    width: 100%;
  }
}