.head {
  position: relative;
  width: 600px;
  height: 600px;
  perspective: 300px;
  border: 1px solid #666;
  &__insert {
    display: flex;
    justify-content: space-between;
    z-index: -10;
    content: '';
    top: 40px;
    left: 0;
    position: absolute;
    width: 600px;
    height: 600px;
    background: $panel-dark-color;
    transform-style: preserve-3d;
    transform: rotateX(-3deg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  &__side {
    width: 15px;
    height: 100%;
    background: $panel-color;
    border-top: 4px solid $panel-darkest-color;
    border-bottom: 2px solid $panel-darkest-color;
    border-left: 2px solid $panel-darkest-color;
    border-right: 2px solid $panel-darkest-color;
    &--left {
      border-top-left-radius: 20px;
    }
    &--right {
      border-top-right-radius: 20px;
    }
  }
  &__center {
    z-index: -10;
    width: 100%;
  }
  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    //background: $panel-dark-color;
    border-top: 4px solid $panel-darkest-color;
    border-bottom: 2px solid $panel-darkest-color;

    background-color: $banner-color;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;

  }
  &__main {
    position: relative;
    justify-content: center;
    background: $panel-darkest-color;
    height: 500px;
    perspective: 300px;
    overflow: hidden;
    border-bottom: 2px solid $panel-darkest-color;
    &:before {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 500px;
      width: 572px;
      background-image: linear-gradient(to right, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(68,68,68,1) 100%);
      opacity: .75;
    }
    &:after {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 500px;
      width: 572px;
      background-image: linear-gradient(to top, rgba(68, 68, 68, .5) 50%, rgba(56, 49, 13, 1));
      opacity: .5;
    }
  }
  &__panel {
    position: absolute;
    top: -42px;
    left: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $banner-color;
    height: 524px;
    width: 487px;
    transform-style: preserve-3d;
    transform: rotateX(10deg);
    &:after {

    }
  }
}