.bar {
  position: absolute;
  width: 1.125rem;
  display: flex;
  justify-content: center;
  &__center {
    height: 0.25rem;
    width: 0.625rem;
    background: $display-inactive;
  }
  &__arrow  {
    width: 0;
    height: 0;
    border-top: 0.125rem solid transparent;
    border-bottom: 0.125rem solid transparent;
    border-right: 0.125rem solid $display-inactive;
    &--right {
      border-right: none;
      border-left: 0.125rem solid $display-inactive;
    }
  }
  &__lighten {
    background: $display-active;
    &--left {
      border-right: 0.125rem solid $display-active;
    }
    &--right {
      border-right: none;
      border-left: 0.125rem solid $display-active;
    }
  }
  &__top {
    top: -0.1875rem;
    left: -0.1875rem;
  }
  &__topL {
    top: 0.3125rem;
    right: 0.25rem;
  }
  &__topR {
    top: 0.3125rem;
    left: 0.25rem;
  }
  &__middle {
    top: 0.8125rem;
    left: -0.1875rem;
  }
  &__bottomR {
    bottom: 0.3125rem;
    left: 0.25rem;
  }
  &__bottomL {
    bottom: 0.3125rem;
    right: 0.25rem;
  }
  &__bottom {
    bottom: -0.1875rem;
    left: -0.1875rem;
  }
}