.button {
  z-index: 0;
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  background: $button-ring-gradient;
  border-radius: 50%;
  box-shadow: 0 0.0625rem 0 0 $panel-color;
  &__center {
    position: absolute;
    top:-0.125rem;
    left: 0.0625rem;
    height: 1rem;
    width: 1rem;
    margin-bottom: 0.1875rem;
    background: $power-on-color;
    border-radius: 50%;
    &:active {
      top:-0.0625rem;
      &:before {
        top: 0.125rem;
      }
      &:after {
        bottom: 0.3125rem;
      }
    }
    &:before, &:after {
      z-index: -1;
      content: '';
      position: absolute;
      background: $power-off-color;
      width: 1rem;
    }
    &:before {
      top: 0.1875rem;;
      height: 1rem;
      border-radius: 50%;
    }
    &:after {
      bottom: 0.2rem;
      height: 0.3125rem;
    }
  }
  &__symbol {
    position: absolute;
    transform: translate(-50%, -50%);
    top: .5rem;
    &--left, &--right {
      border: 0.3125rem solid transparent;
      transition: 0s linear 0.2s;
    }
    &--left {
      border-right-color: $light-color;
      border-right-width: 0.5rem;
      left: .3rem;
      &--inactive {
        border-right-color: $power-off-color;
      }
    }
    &--right {
      border-left-color: $light-color;
      border-left-width: 0.5rem;
      left: .7rem;
      &--inactive {
        border-left-color: $power-off-color;
      }
    }
    &--flag {
      left: .5rem;
      font-size: .6rem;
      color: $light-color;
    }
    &--inactive {
      color: $power-off-color;
    }
  }
}