.disc {
  position: relative;
  height: 1.875rem;
  width: 2.8125rem;
  border: 0.125rem solid $brass-color;
  border-left-color: $brass-lite-color;
  border-top-color: $brass-lite-color;
  border-radius: 0.3125rem;
  background: #38310D;
  &:after {
    position: absolute;
    z-index: 33;
    content: '';
    top: -0.0625rem;
    left: -0.0625rem;
    height: 1.6872rem;
    width: 2.5625rem;
    border: 0.0625rem solid $accent-bright-color;
    border-right-color: $brass-bright-color;
    border-bottom-color: $brass-bright-color;
    border-radius: .3rem;
    transition: 0s linear 0.2s;
  }
  &--inactive:after {
    transition: 0s linear 0.2s;
    background: rgba($dark-color, .55);
  }
  &__container {
    position: relative;
    height: 1.6875rem;
    width: 2.5625rem;
    border-radius: 0.1875rem;
    overflow: hidden;
    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background: $dimming-gradient;
      opacity: .8;
      height: 100%;
      width: 100%;
    }
  }
  &__plate {
    position: absolute;
    top: 0.0625rem;
    left: -0.5625rem;
    height: 3.75rem;
    width: 3.75rem;
    border: 0.0625rem solid $panel-color;
    border-radius: 50%;
  }
  &__background {
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    height: 100%;
    width: 100%;
    background: $round-gradient;
    border: 0.0625rem solid $brass-color;
    border-radius: 50%;
    transition: 0.5s;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background: $rings-gradient;
      opacity: .3;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
  &__number {
    position: absolute;
    height: 1.875rem;
    top: -0.125rem;
    left: 50%;
    transform-origin: bottom center;
    color: $panel-color;
    text-shadow: 0.0625rem 0.0625rem  $brass-color;
  }
}