.label {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  width: 3.75rem;
  height: 1.5625rem;
  background-image: linear-gradient(to top left, $brass-color , $accent-color);
  border: 0.0625rem solid rgba($brass-color, .7);
  border-left-color: $brass-lite-color;
  border-top-color: $brass-lite-color;
  border-radius: 0.25rem;
  &:before {
    position: absolute;
    content: '';
    top: 0.0625rem;
    left: 0.0625rem;
    width: 3.625rem;
    height: 1.4375rem;
    border-radius: 0.25rem;
    background-image: radial-gradient(ellipse at center, $accent-color, $brass-color);;
    opacity: .4;
  }
  &:after {
    position: absolute;
    content: '';
    top: -0.0625rem;
    left: 0;
    width: 3.625rem;
    height: 1.4375rem;
    border-radius: 0.25rem;
    background-image: linear-gradient(to right,
            $brass-color 0%,
            $brass-lite-color 10%,
            $accent-color 50%,
            $brass-lite-color 90% ,
            $brass-color 100%);
    opacity: .2;
  }
  &__frame {
    position: absolute;
    content: '';
    top: 0.0625rem;
    left: 0.0625rem;
    height: 1.3125rem;
    width: 3.5rem;
    border: 0.125rem solid $brass-color;
    border-radius: 0.1875rem;
    box-shadow: $frame-shadow;
    &:before {
      position: absolute;
      content: '';
      top: -0.125rem;
      left: -0.125rem;
      height: 1.0625rem;
      width: 3.1875rem;
      border: 0.125rem solid #c9b76d;
      border-top-width: 0.0625rem;
      border-right-color: $brass-lite-color;
      border-bottom-color: $brass-lite-color;
      border-radius: 0.1875rem;
    }
  }
  &__text {
    position: relative;
    font-family: $acme;
    color: $panel-color;
    @each $label in $labels {
      &--#{$label} {
        @include engraving($label);
      }
    }
  }
  &__pin {
    position: absolute;
    height: 0.25rem;
    width: 0.25rem;
    background: radial-gradient(circle, $accent-color, $brass-color);
    border-top: 0.0625rem solid rgba(158,138,38, .5);
    border-right: 0.0625rem solid rgba(158,138,38, .8);
    border-bottom: 0.0625rem solid rgba(158,138,38, .2);
    border-left: 0.0625rem solid rgba(158,138,38, .5);
    border-radius: 50%;
    box-shadow: 0 0.0625rem 0.125rem 0 $panel-color;
    &--left {
      top: 0.375rem;
      left: 0.125rem;
    }
    &--right {
      top: 0.375rem;
      right: 0.125rem;
    }
  }
}