.logo {
  position: relative;
  &__border {
    position: relative;
    display: block;
    width: calc(100% - 0.375rem);
    height: calc(100% - 0.375rem);
    border: 0.1875rem solid $brass-color;
    border-left-color: $brass-lite-color;
    border-top-color: $brass-lite-color;
    border-radius: 50%;
    &:after {
      position: absolute;
      content: '';
      top: -0.125rem;
      left: -0.125rem;
      width: 10.5rem;
      height: 2.375rem;
      border: 0.0625rem solid $accent-color;
      opacity: .8;
      border-radius: 50%;
    }
    &:before {
      position: absolute;
      content: '';
      top: -0.0625rem;
      left: -0.0625rem;
      width: 10.375rem;
      height: 2.25rem;
      border: 0.0625rem solid $brass-color;
      border-bottom-color: $brass-lite-color;
      border-right-color: $brass-lite-color;
      border-radius: 50%;
    }
  }
  &__plate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, $brass-color , $accent-color);
    height: 3.125rem;
    width: 11.25rem;
    border: 0.0625rem solid $brass-color;
    border-radius: 50%;
    &:before, &:after {
      top: -0.0625rem;
      left: -0.0625rem;
      height:3.125rem;
      width: 11.25rem;
    }
    &:before {
      position: absolute;
      content: '';
      background: radial-gradient(ellipse at center, $accent-color, $brass-color);
      border-radius: 50%;
      opacity: .5;
    }
    &:after {
      position: absolute;
      content: '';
      background-image: linear-gradient(to right,
              $brass-color 0%,
              $brass-lite-color 10%,
              $accent-color 50%,
              $brass-lite-color 90% ,
              $brass-color 100%);
      opacity: .5;
      border-radius: 50%;
    }
  }
  &__text {
    font-size: 1.4375rem;
    position: absolute;
    top: 0.6875rem;
    left: 2.25rem;
    font-family: $brush;
    color: $panel-color;
    transform: rotate(-3deg);
    @include engraving('Smart');
    &--span {
      top: -0.0625rem;
      left: 2.8125rem;
      @include engraving('Sweeper');
    }
  }
  &__pin {
    position: absolute;
    height: 0.3125rem;
    width: 0.3125rem;
    background: radial-gradient(circle, $accent-color, $brass-color);
    border-top: 0.0625rem solid rgba(158,138,38, .5);
    border-right: 0.0625rem solid rgba(158,138,38, .8);
    border-bottom: 0.0625rem solid rgba(158,138,38, .2);
    border-left: 0.0625rem solid rgba(158,138,38, .5);
    border-radius: 50%;
    &--left {
      top: 1.375rem;
      left: 0.75rem;
    }
    &--right {
      top: 1.4375rem;
      right: 0.75rem;
    }
  }
}