.numeric {
  position: relative;
  display: flex;
  gap: .3rem;
  padding: .3rem;
  background: $dark-color;
  border: 3px solid $brass-color;
  border-left-color: $brass-lite-color;
  border-top-color: $brass-lite-color;
  border-radius: .3rem;
  &:after {
    position: absolute;
    content: '';
    top: -3px;
    left: -3px;
    height: 49px;
    width: 52px;
    border: 1px solid $accent-color;
    border-left-color: $accent-bright-color;
    border-top-color: $accent-bright-color;
    border-radius: .3rem;
  }
  @include big {
    border-width: 0.1875rem;
    &:after {
      top: -0.1875rem;
      left: -0.1875rem;
      height: 3.0625rem;
      width: 3.25rem;
      border-width: 0.0625rem;
    }
  }
}