.numeric {
  position: relative;
  display: flex;
  gap: .3rem;
  padding: .3rem;
  background: $dark-color;
  border: 0.1875rem solid $brass-color;
  border-left-color: $brass-lite-color;
  border-top-color: $brass-lite-color;
  border-radius: .3rem;
  &:after {
    position: absolute;
    content: '';
    top: -0.1875rem;
    left: -0.1875rem;
    height: 3.0625rem;
    width: 3.25rem;
    border: 0.0625rem solid $accent-color;
    border-left-color: $accent-bright-color;
    border-top-color: $accent-bright-color;
    border-radius: .3rem;
  }
}