.power {
  padding: 0.1875rem;
  background: $panel-color;
  border: 0.125rem solid $panel-dark-color;
  border-radius: 0.1875rem;
  &__button {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    background: $inactive-color;
    border: none;
    border-radius: 0.1875rem;
  }
  &__filler {
    position: absolute;
    content: '';
    height: 0.3125rem;
    width: 0.3125rem;
    background: $inactive-color;
    transform: rotate(45deg);
    &--top {
      top: 0.0625rem;
      right: -0.0625rem;
      border-top-left-radius: 0.0625rem;
      transition: .3s ease-in;
    }
    &--untop {
      right: 0;
      transition: .3s ease-in;
    }
    &--bottom {
      left: 0.0625rem;
      bottom: -0.0625rem;
      border-bottom-left-radius: 0.0625rem;
      transition: .3s ease-in;
    }
    &--unbottom {
      bottom: 0;
      transition: .3s ease-in;
    }
  }
  &__front {
    z-index: 4;
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.5rem;
    height: 1.5rem;
    background: $power-off-color;
    border-radius: 3px;
    transition: top .3s ease-out, left .3s ease-out, background-color 0s linear .1s;
    &--on {
      top: 0.0625rem;
      left: 0.0625rem;
      background: $power-on-color;
      transition: top .3s ease-out, left .3s ease-out, background-color 0s linear .2s;
    }
  }
  &__text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $inactive-color;
    transition: 0s linear .1s;
    &--on {
      color: $light-color;
      transition: 0s linear .2s;
    }
  }
}