.form {
  &__slider {
    position: relative;
    height: 1.375rem;
    width: 2.625rem;
    background: $light-color;
    border-radius: 1.125rem;
    border: 0.0625rem solid $light-border-color;
  }
  &__ball {
    position: absolute;
    top: 0.0625rem;
    left: 0.0625rem;
    height: 1.125rem;
    width: 1.125rem;
    background: $inactive-color;
    border-radius: 0.5625rem;
    transition: .5s ease-out;
    &--active {
      transform: translateX(1.25rem);;
      background: $active-color;
      transition: .5s ease-in;
    }
  }
}