@mixin engraving($text) {
  &:before, {
    content: $text;
    position: absolute;
    top: 1px;
    left: 1px;
    color: $accent-color ;
    opacity: .2;
  }
}

@mixin big {
  @media (min-height: 1000px) {
    @content;
  }
}